/***** Photograph header *****/
.photograph-header {
    display: flex;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    order: 2;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    margin: auto;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;

    &:hover{
        background-color: #DB8876;
        color: black;
    }
}

/** Modal **/
#contact_modal {
    display: none;
}
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    box-shadow: rgb(161, 161, 161, 0.8) -4px 10px 24px;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

form textarea{
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 5px;
}

/** Dropdown sort **/
.dropdown-content{
    background-color: #901C1C;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px 5px 10px;
    width: 170px;
    padding-left: 20px;
    margin-top: -20px;
    cursor: pointer;

    &:hover{
        background-color: #DB8876;
        color: black;    
    }

    > p{
        vertical-align: middle;
    }

    > .p-line{
        border-bottom: white solid 1px;
        border-top: white solid 1px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
.fa-angle-down, .fa-angle-up{
    position: absolute;
    margin-left: 50px;
    font-size: 20px;
}
#pictures-sort{
    display: flex;
    margin: 30px 0px 30px 100px;
}
#label{
    margin-right: 20px;
    font-weight: 700;
    font-size: 18px;
}
.dropbtn{
    display: none;
}